.main-all-content {
    .section-who-we-are {
        @include displayFlex(center, center, column);
        margin-top: 40px;
    }

    .who-we-are-img {
        width: 80vw;
        border-left: 40px solid $--primary-color;
        height: auto;
        margin: 30px;
    }

    .who-we-are-div-text {
        @include displayFlex(center, center, column);
        gap: 30px;
    }

    .who-we-are-p {
        font-family: $--font-secondary;
        font-size: 0.9rem;
        letter-spacing: 7px;
        font-weight: 600;
        text-align: center;
    }

    .who-we-are-h1 {
        font-family: $--font-primary;
        color: $--primary-color;
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
    }

    .who-we-are-article {
        font-family: $--font-third;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        line-height: 20px;
    }
    .who-we-are-div-btn {
        margin-bottom: 40px;
    }

    .who-we-are-btn-more {
        @include btnNormal();
    }

    .who-we-are-btn-arrow {
        @include btnArrow();
    }

    .who-we-are-points {
        display: none;
    }

    @media (min-width: 986px) {
        .section-who-we-are {
            @include displayFlex(center, center, row);
            height: 90vh;
            gap: 4vw;
        }

        .who-we-are-img {
            width: 40vw;
            border-left: 70px solid $--primary-color;
        }

        .who-we-are-div-text {
            @include displayFlex(center, start, column);
            gap: 40px;
        }

        .who-we-are-p {
            text-align: left;
        }

        .who-we-are-h1 {
            width: 30vw;
            text-align: left;
        }

        .who-we-are-article {
            width: 40vw;
            text-align: left;
        }

        .who-we-are-points {
            display: flex;
            position: absolute;
            top: 52rem;
            right: 0;
            font-family: $--font-third;
            font-weight: 700;
            font-size: 2.7rem;
            line-height: 20px;
            letter-spacing: 5px;
            z-index: -999;
        }
    }
}
