$--primary-color: #00a39a;
$--white-color: #ffffff;
$--black-color: #000000;
$--border-color: #f3f5f7;

$--font-primary: "Airbnb", sans-serif;
$--font-secondary: "Brown", sans-serif;
$--font-third: "Roboto", sans-serif;

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: $--white-color;
    &:hover {
        border-bottom: 1px solid $--white-color;
        transition: 0.4s;
    }
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

@font-face {
    font-family: "Airbnb";
    src: url("../fonts/AirbnbCereal_W_Md.otf");
}

@font-face {
    font-family: "Brown";
    src: url("../fonts/BrownLight\ Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #00a39a #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #00a39a;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
